# Default values for wiz-outpost-lite.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

agent:
  secretName: outpost-lite-agent-creds
  env: ""
  clientId: ""
  clientSecret: ""
  outpostId: ""
  outpostRegion: partition-1

secret:
  create: true

image:
  repository: wizio.azurecr.io
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "0.1-latest"
  tagSuffix: ""

autoUpdate: true

# If set, controls the message processing concurrency of the runner
concurrency: 0

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

resources:
  limits:
    memory: 4396M
  requests:
    memory: 1024M

nodeSelector: {}

tolerations: []

affinity: {}

internetAccessCertificates:
  skipSslValidation: false

extraEnv: {}
extraEnvConfigMap: ""

service:
  type: ClusterIP
  enabled: true
  metricsPort: 9090

httpProxyConfiguration:
  enabled: false
  name: wiz-http-proxy-configuration
  # httpProxy: replaceme
  # httpsProxy: replaceme
  # noProxy:
  #   - replaceme
  #   - replaceme2
  # caCertificate: |
  #   --- BEGIN CERTIFICATE ---
  #   replaceme
  #   --- END CERTIFICATE ---

terminationGracePeriodSeconds: 30

serviceAccount:
    create: false

podSecurityContext:
  readOnlyFileSystem: true
containerSecurityContext:
  capabilities:
    add:
    - SYS_ADMIN
    drop:
    - JJJ
  seLinuxOptions:
    type: spc_t

# Runner type definitions - these define defaults for each type of runner
container-registry-runner:
  image:
    name: outpost-lite-runner-container-registry

vcs-runner:
  image:
    name: outpost-lite-runner-vcs
  podSecurityContext:
    areadOnlyFileSystem: false
  containerSecurityContext:
    capabilities:
      add:
      - ABC

remediation-runner:
  image:
    name: outpost-lite-runner-remediation
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
  containerSecurityContext:
    capabilities:
      drop:
      - ALL
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    allowPrivilegeEscalation: false
    privileged: false
    readOnlyRootFilesystem: true
    seLinuxOptions:
      type: container_t
  serviceAccount: 
    create: true

runners:
  container-registry:
    enabled: false
  vcs-scheduled:
    enabled: false
  vcs-event-triggered:
    enabled: false
    concurrency: 4
    terminationGracePeriodSeconds: 300 # 5 minutes
