{{ if .Values.wizManager.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "wiz-admission-controller-manager.name" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "wiz-admission-controller-manager.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "wiz-admission-controller.selectorLabels" . | nindent 6 }}
      {{- include "wiz-admission-controller-manager.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        rollme.proxyHash: {{ include "wiz-admission-controller.proxyHash" . }}
        rollme.wizApiTokenHash: {{ include "wiz-admission-controller.wizApiTokenHash" . }}
        rollme.webhookCert: {{ include (print $.Template.BasePath "/opawebhook.yaml") . | sha256sum }}
        {{- with (coalesce .Values.global.podAnnotations .Values.podAnnotations) }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{/*
        `labels` includes `selectorLabels`
        */}}
        {{- include "wiz-admission-controller-manager.labels" . | nindent 8 }}
        {{- with (coalesce .Values.global.podLabels .Values.podLabels) }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- with (coalesce .Values.global.imagePullSecrets .Values.imagePullSecrets) }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "wiz-admission-controller.serviceAccountName" . }}
      securityContext:
        {{- if hasKey .Values.global "lowPrivilegePodSecurityPolicy" }}
        {{- toYaml .Values.global.lowPrivilegePodSecurityPolicy | nindent 8 }}
        {{- else }}
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
        {{- end }}
      {{- if .Values.hostNetwork }}
      hostNetwork: true
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.global.podTerminationGracePeriodSeconds }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- if hasKey .Values.global "lowPrivilegeSecurityPolicy" }}
            {{- toYaml .Values.global.lowPrivilegeSecurityPolicy | nindent 12 }}
            {{- else }}
            {{- toYaml .Values.securityContext | nindent 12 }}
            {{- end }}
          image: "{{ coalesce .Values.global.image.registry .Values.image.registry }}/{{ coalesce .Values.global.image.repository .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          readinessProbe:
            httpGet:
              path: /ready
              port: {{ .Values.healthPort }}
              scheme: HTTPS
            {{- toYaml .Values.probes.readinessProbe | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /live
              port: {{ .Values.healthPort }}
              scheme: HTTPS
            {{- toYaml .Values.probes.livenessProbe | nindent 12 }}
          startupProbe:
            httpGet:
              path: /ready
              port: {{ .Values.healthPort }}
              scheme: HTTPS
            {{- toYaml .Values.probes.startupProbe | nindent 12 }}

          command:
          - "/usr/bin/wiz-admission-controller"
          - "manager"
          - "--readiness-port={{ .Values.healthPort }}"
          - "--status-port={{ .Values.statusPort }}"
          # Server flags
          - "--tls-private-key-file=/var/server-certs/tls.key"
          - "--tls-cert-file=/var/server-certs/tls.crt"
          # Auto update flags
          - "--auto-update-enabled={{ .Values.wizManager.autoUpdate.enabled }}"
          - "--release-namespace={{ .Release.Namespace }}"
          - {{ include "autoUpdate.deployments" . | trim | quote }}
          # Cluster identification flags
          - "--cluster-external-id={{ coalesce .Values.global.clusterExternalId .Values.webhook.clusterExternalId }}"
          {{- with (coalesce .Values.global.subscriptionExternalId .Values.webhook.subscriptionExternalId) }}
          - --subscription-external-id
          - {{ . | quote }}
          {{- end }}
          {{- with (coalesce .Values.global.clusterTags .Values.webhook.clusterTags) }}
          - --cluster-tags
          - {{ . | toJson | quote }}
          {{- end }}
          {{- with (coalesce .Values.global.subscriptionTags .Values.webhook.subscriptionTags) }}
          - --subscription-tags
          - {{ . | toJson | quote }}
          {{- end }}
          env:
          - name: WIZ_UPLOAD_BACKEND_STORAGE # TODO: remove once this is removed from the code
            value: "true"
          {{- if not .Values.wizApiToken.usePodCustomEnvironmentVariablesFile }}
          - name: WIZ_CLIENT_ID
            valueFrom:
              secretKeyRef:
                name: {{ include "wiz-admission-controller.secretApiTokenName" . | trim }}
                key: clientId
                optional: false
          - name: WIZ_CLIENT_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ include "wiz-admission-controller.secretApiTokenName" . | trim }}
                key: clientToken
                optional: false
          {{- end }}
          - name: WIZ_ENV
            value: {{ coalesce .Values.global.wizApiToken.clientEndpoint .Values.wizApiToken.clientEndpoint | quote }}
          {{- if or .Values.global.httpProxyConfiguration.enabled .Values.httpProxyConfiguration.enabled }}
          - name: HTTP_PROXY
            valueFrom:
              secretKeyRef:
                name: {{ include "wiz-admission-controller.proxySecretName" . | trim }}
                key: httpProxy
                optional: false
          - name: HTTPS_PROXY
            valueFrom:
              secretKeyRef:
                name: {{ include "wiz-admission-controller.proxySecretName" . | trim }}
                key: httpsProxy
                optional: false
          - name: NO_PROXY
            valueFrom:
              secretKeyRef:
                name: {{ include "wiz-admission-controller.proxySecretName" . | trim }}
                key: noProxyAddress
                optional: false
          {{- end }}
          {{- if .Values.logLevel }}
          - name: LOG_LEVEL
            value: {{ .Values.logLevel }}
          {{- end }}
          {{- with .Values.podCustomEnvironmentVariables }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.global.podCustomEnvironmentVariables }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- if .Values.podCustomEnvironmentVariablesFile }}
          - name: CLI_ENV_FILE
            value: {{ .Values.podCustomEnvironmentVariablesFile }}
          - name: USE_CLI_ENV_FILE
            value: "true"
          {{- end }}
          - name: WIZ_RUNTIME_METADATA_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: WIZ_RUNTIME_METADATA_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: K8S_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: WIZ_TERMINATION_GRACE_PERIOD
            value: "{{ .Values.global.podTerminationGracePeriodSeconds }}s"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
          - mountPath: /var/server-certs
            name: server-certs
            readOnly: true
          {{- with .Values.customVolumeMounts }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.global.customVolumeMounts }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
      volumes:
        - name: server-certs
          secret:
            defaultMode: 444
            secretName: {{ include "wiz-admission-controller.secretServerCert" . | trim }}
        {{- with .Values.customVolumes }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.customVolumes }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with (coalesce .Values.global.nodeSelector .Values.nodeSelector) }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (coalesce .Values.global.affinity .Values.affinity) }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (coalesce .Values.global.tolerations .Values.tolerations) }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
