{{- if .Values.httpProxyConfiguration }}
{{- $noProxyCommaSeparatedList := join "," .Values.httpProxyConfiguration.noProxy }}
{{- $noProxySpaceSeparatedList := join " " .Values.httpProxyConfiguration.noProxy }}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ .Values.name }}
  labels:
    {{- include "wiz-outpost-configuration.labels" . | nindent 4 }}
    meta.helm.sh/release-name: "{{ .Release.Name }}"
    meta.helm.sh/release-namespace: "{{ .Release.Namespace }}"
data:
  http-proxy: {{ .Values.httpProxyConfiguration.httpProxy | b64enc | quote }}
  https-proxy: {{ .Values.httpProxyConfiguration.httpsProxy | b64enc | quote }}
  no-proxy-address: {{ $noProxySpaceSeparatedList | b64enc | quote }}
  no-proxy-address-cs: {{ $noProxyCommaSeparatedList | b64enc | quote }}
{{- end }}
