# Default values for git-proxy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
storageService: '' # s3/gcs/blob/objectstorage
s3:
  bucketName:
  region:
gcs:
  bucketName:
blob:
  # credentials JSON containing the service principal, secret must contain azure.json key
  # leave empty if you're using the system assigned identity for the node
  # (existing in /etc/kubernetes/azure.json)
  azureCreds:
#    tenantId:
#    aadClientId:
#    aadClientSecret:
#    subscriptionId:
#    environment:
  resourceGroupName:
  storageAccountName:
  containerName: gitops-state

objectstorage:
  ociCreds:
    # tenancyOCID:
    # userOCID:
    # fingerprint:
    # privateKey:
  region:
  namespaceName:
  bucketName:


image:
  repository: wiziopublic.azurecr.io
  namePrefix: wiz-git-proxy
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "157274e"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

service:
  type: ClusterIP
  port: 80

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
