# Default values for git-proxy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
storageService: "" # s3/gcs/blob/objectstorage/oss/wiz
s3:
  bucketName:
  region:
gcs:
  bucketName:
blob:
  # credentials JSON containing the service principal, secret must contain azure.json key
  # leave empty if you're using the system assigned identity for the node
  # (existing in /etc/kubernetes/azure.json)
  azureCreds:
  #    tenantId:
  #    aadClientId:
  #    aadClientSecret:
  #    subscriptionId:
  #    environment:
  #    useInstanceMetadata:
  #    useFederatedToken:
  azureCredsSecretName:
  resourceGroupName:
  storageAccountName:
  containerName: gitops-state
  globalStorageAccountIP: ""
  storageAccountDomain: core.windows.net

wiz:
  secretName: wiz-outpost-agent-creds
  clientId: ""
  clientSecret: ""
  env: ""
  outpostId: ""
  serviceType: ""
  dataCenter: ""
  privateKey: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If empty, a name is generated using the fullname template
  name: ""

objectstorage:
  region:
  namespaceName:
  bucketName:

oss:
  oidcProviderARN: ""
  roleARN: ""
  region:
  bucketName:

image:
  repository: wiziopublic.azurecr.io
  namePrefix: wiz-git-proxy
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "48a6e19f4c913a8e58c2408e2fc40fe7b303f1c7-multiarch"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

service:
  type: ClusterIP
  port: 8080

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
hostpathCopier:
  image:
    repository: wiziopublic.azurecr.io/wiz-busybox
    tag: 1.36.0

internetAccessCertificates:
  skipSslValidation: false

extraEnv: {}

httpProxyConfiguration:
  name: wiz-http-proxy-configuration
