# Default values for wiz-kubernetes-connector.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: "wiz-kubernetes-connector"

image:
  registry: wiziopublic.azurecr.io/wiz-app
  repository: wiz-broker
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "" 

clusterReader:
  installRbac: true
  serviceAccount:
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    name: "wiz-cluster-reader"
  secret:
    # Annotations to add to the secret
    annotations: {}

autoCreateConnector:
  enabled: true

  connectorName: "" # optional 
  clusterFlavor: "" # optional (EKS, AKS, GKE, OKE, OpenShift, Kubernetes)
  # Required arguments for broker.enabled = false
  apiServerEndpoint: ""

  serviceAccount:
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    name: "wiz-auto-create-connector"

wizApiToken:
  # Specifies whether an api token secret should be created
  # If create is false you need to create it with clientId, clientToken
  createSecret: true
  # Annotations to add to the secret
  annotations: {}
  # The name of the secret to use.
  # If not set, a name is generated using the fullname template
  name: ""
  
  clientId: ""
  clientToken: ""
  clientEndpoint: "" # Set custom endpoint (gov for example)

wizConnector: # Relevant only for broker.enabled = true & autoCreateConnector = false
  # Specifies whether a proxy secret should be created
  # If createSecret is false you need to:
  #  1. Create secret with this keys:
  #     CONNECTOR_ID, CONNECTOR_TOKEN, TARGET_DOMAIN, TARGET_IP, TARGET_PORT
  #  2. Set secretName to reference your secret
  createSecret: true
  # Annotations to add to the secret
  annotations: {}
  secretName: ""

  # Required arguments for autoCreateConnector = false
  connectorId: ""
  connectorToken: ""
  targetDomain: ""
  targetIp: ""
  targetPort: ""

broker:
  enabled: true
  targetIp: "kubernetes.default.svc.cluster.local"
  serviceAccount:
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    name: "wiz-broker"

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  allowPrivilegeEscalation: false

httpProxyConfiguration:
  enabled: false
  
  # Specifies whether a proxy secret should be created
  # If create is false you need to:
  #  1. Create secret with httpProxy, httpsProxy and noProxyAddress.
  #  2. Set secretName to reference your secret
  create: true
  annotations: {}
  secretName: "" # Overriding default name for proxy secret name (.Release.Name + "-proxy-configuration" by default)
  
  httpProxy: "" # http(s)://user:password@your-proxy:port (user, password and port are optional)
  httpsProxy: "" # http(s)://user:password@your-proxy:port (user, password and port are optional)
  noProxyAddress: "" # comma or space separated list of machine or domain names
