# GitHub CodeOwners file

# Each line is a file pattern followed by one or more owners

# <https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners>

# Order is important; the last matching pattern takes the most

# precedence

# PRs with changes matching codeowners will be forced to get review from at least one owner

# For soft review assignment (not enforced) use `REVIEWERS` file

wiz-outpost-lite/**/* @yarinm