
version: 2.1

parameters:
  flux2:
    default: false
    type: boolean
  git-proxy:
    default: false
    type: boolean
  wiz-broker:
    default: false
    type: boolean
  wiz-admission-controller:
    default: false
    type: boolean
  wiz-sensor:
    default: false
    type: boolean
  wiz-kubernetes-connector:
    default: false
    type: boolean


executors:
  ops:
    docker:
      - image: dtzar/helm-kubectl:3.10.2
  golang:
    docker:
      - image: golang:1.17

commands:
  upload_new_chart:
    parameters:
      package:
        type: string
    steps:
      - run:
          name: Push new package << parameters.package >>
          command: |
            export PACKAGE="<< parameters.package >>"
            pushd charts
            bash .circleci/package_index.sh
            popd

jobs:
  run_chart_validation_test:
    executor: golang
    working_directory: ~/project/.circleci/tests/
    steps:
      - checkout:
          path: ~/project
      - run:
          name: 'Creating directory for GOPATH and override it to be /go'
          command: |
            go env -w GOPATH=/go
            go mod tidy
      - run:
          name: Run chart validation tests
          command: |
            go test -v .

  package_and_index_charts:
    executor:
      name: ops
    steps:
      - when:
          condition:
            or:
            - << pipeline.parameters.flux2 >>
            - << pipeline.parameters.git-proxy >>
            - << pipeline.parameters.wiz-broker >>
            - << pipeline.parameters.wiz-admission-controller >>
            - << pipeline.parameters.wiz-sensor >>
            - << pipeline.parameters.wiz-kubernetes-connector >>
          steps:
            - checkout:
                path: ~/project
            - add_ssh_keys:
                fingerprints:
                  - "46:88:b6:e7:04:9e:f2:cf:cf:4f:03:09:e5:58:1b:f2"
            - run:
                name: Read-Write checkout
                command: |
                  mkdir -pm0700 ~/.ssh
                  ssh-keyscan github.com > ~/.ssh/known_hosts
                  echo 'Host gitops
                    Hostname github.com
                    IdentityFile ~/.ssh/id_rsa_4688b6e7049ef2cfcf4f0309e5581bf2
                    IdentitiesOnly yes' > ~/.ssh/config
                  git clone -b master git@gitops:wiz-sec/charts.git
      - when:
          condition: << pipeline.parameters.flux2 >>
          steps:
            - upload_new_chart:
                package: flux2
      - when:
          condition: << pipeline.parameters.git-proxy >>
          steps:
            - upload_new_chart:
                package: git-proxy
      - when:
          condition: << pipeline.parameters.wiz-broker >>
          steps:
            - upload_new_chart:
                package: wiz-broker
      - when:
          condition: << pipeline.parameters.wiz-admission-controller >>
          steps:
            - upload_new_chart:
                package: wiz-admission-controller
      - when:
          condition: << pipeline.parameters.wiz-sensor >>
          steps:
            - upload_new_chart:
                package: wiz-sensor
      - when:
          condition: << pipeline.parameters.wiz-kubernetes-connector >>
          steps:
            - upload_new_chart:
                package: wiz-kubernetes-connector
      - run:
          name: Run always
          command: echo "Done!" # Hack for empty runs

workflows:
  validate_and_package:
    jobs:
      - run_chart_validation_test:
          name: Validate chart
      - package_and_index_charts:
          name: Package and index charts
          requires:
            - "Validate chart"
          filters:
            branches:
              only:
                - master
