{{- range $values := (include "wiz-outpost-lite.runners" . | fromJson) }}
{{- with merge $values (omit $ "Values") }}
{{- if and .Values.enabled .Values.serviceAccount.create }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "wiz-outpost-lite.fullname" . }}
  labels:
    {{- include "wiz-outpost-lite.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "wiz-outpost-lite.selectorLabels" . | nindent 4 }}
---
{{- end }}
{{- end }}
{{- end }}
