# Default values for wiz-outpost-configuration.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

httpProxyConfiguration:
  enabled: false
  name: wiz-http-proxy-configuration
  httpProxy: replaceme
  httpsProxy: replaceme
  noProxy:
    - replaceme
    - replaceme2
  caCertificate: |
    --- BEGIN CERTIFICATE ---
    replaceme
    --- END CERTIFICATE ---

azureWorkerCredentials: 
  # tenantId: replaceme
  # aadClientId: replaceme
  # aadClientSecret: replaceme
  # subscriptionId: replaceme
  # environment: replaceme
  # useInstanceMetadata: false
  # useFederatedToken: false
