{{- if .Values.enabled }}
{{ $mountPath := "/etc/connectorData" }}
{{ $connectorDataFileName := "data" }}
{{ $connectorDataFilePath := printf "%s/%s" $mountPath "data" }}
{{ $mtlsPath := "/etc/mtls" }}
{{ $clientCertificateFileName := "client.cert" }}
{{ $clientPrivateKeyFileName := "client.key" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "wiz-broker.deploymentName" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "wiz-broker.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "wiz-broker.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- if .Values.rollmeAnnotation.enabled }}
        rollme: {{ randAlphaNum 5 | quote }}
        {{- end }}
        {{- with .Values.global.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- /* `labels` includes `selectorLabels` */}}
          {{- include "wiz-broker.labels" . | nindent 8 }}
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      securityContext:
        {{- toYaml .Values.global.podSecurityContext | nindent 8 }}
      volumes:
        - name: connector-data
          secret:
            secretName: {{ include "wiz-broker.connectorSecretName" . | trim }}
            items:
              - key: connectorData
                path: {{ $connectorDataFileName }}
        {{- if .Values.caCertificate.enabled }}
        - name: ca-certificate
          secret:
            secretName: {{ include "wiz-broker.caCertificateSecretName" . | trim }}
            items:
              - key: caCertificate
                path: target.crt
        {{- end }}
        {{- if .Values.mtls.enabled }}
        - name: mtls
          secret:
            secretName: {{ include "wiz-broker.mtlsSecretName" . | trim }}
            items:
              - key: certificate
                path: {{ $clientCertificateFileName }}
              - key: privateKey
                path: {{ $clientPrivateKeyFileName }}
        {{- end }}
        {{- with .Values.global.customVolumes }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.global.securityContext | nindent 12 }}
          image: "{{ coalesce .Values.global.image.registry .Values.image.registry }}/{{ coalesce .Values.global.image.repository .Values.image.repository }}:{{ coalesce .Values.global.image.tag .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ coalesce .Values.global.image.pullPolicy .Values.image.pullPolicy }}
          volumeMounts:
          - name: connector-data
            mountPath: {{ $mountPath }}
            readOnly: true
          {{- if .Values.caCertificate.enabled }}
          - name: ca-certificate
            mountPath: /usr/local/share/ca-certificates
            readOnly: true
          {{- end }}
          {{- if .Values.mtls.enabled }}
          - name: mtls
            mountPath: {{ $mtlsPath }}
            readOnly: true
          {{- end }}
          {{- with .Values.global.customVolumeMounts }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
          args: [
            {{ $connectorDataFilePath }}
          ]
          env:
          {{- if .Values.global.logLevel }}
          - name: LOG_LEVEL
            value: {{ .Values.global.logLevel }}
          {{- end }}
          - name: WIZ_ENV
            value: {{ coalesce .Values.global.wizApiToken.clientEndpoint .Values.wizApiToken.clientEndpoint | quote }}
          {{- if not .Values.wizApiToken.usePodCustomEnvironmentVariablesFile }}
          - name: WIZ_CLIENT_ID
            valueFrom:
              secretKeyRef:
                name: {{ include "wiz-broker.apiTokenSecretName" . | trim }}
                key: clientId
          - name: WIZ_CLIENT_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ include "wiz-broker.apiTokenSecretName" . | trim }}
                key: clientToken
          {{- end }}
          {{- if .Values.managed.enabled }}
          - name: WIZ_MANAGED
            value: "true"
          - name: WIZ_OUTPOST_ID
            value: {{ .Values.managed.outpostId | quote }}
          {{- end }}
          - name: TARGET_IP
            value: {{ .Values.targetIp }}
          - name: TARGET_PORT
            value: {{ .Values.targetPort | quote }}
          {{- if .Values.podCustomEnvironmentVariablesFile }}
          - name: CLI_ENV_FILE
            value: {{ .Values.podCustomEnvironmentVariablesFile }}
          - name: USE_CLI_ENV_FILE
            value: "true"
          {{- end }}
          {{- if or .Values.global.httpProxyConfiguration.enabled .Values.httpProxyConfiguration.enabled }}
          - name: HTTP_PROXY
            valueFrom:
              secretKeyRef:
                name: {{ include "wiz-broker.proxySecretName" . | trim }}
                key: httpsProxy # The frp project supports only HTTP_PROXY, it uses it for both http and https.  Our broker always uses https, so we're using the httpsProxy value here (See: https://github.com/fatedier/frp/#connecting-to-frps-via-http-proxy)
          - name: HTTPS_PROXY
            valueFrom:
              secretKeyRef:
                name: {{ include "wiz-broker.proxySecretName" . | trim }}
                key: httpsProxy
                optional: false
          - name: NO_PROXY
            valueFrom:
              secretKeyRef:
                name: {{ include "wiz-broker.proxySecretName" . | trim }}
                key: noProxyAddress
                optional: false
          {{- end }}
          {{- if .Values.skipTlsVerify }}
          - name: DISABLE_TLS_VALIDATION
            value: "true"
          {{- end }}
          {{- if .Values.mtls.enabled }}
          - name: CLIENT_CERT_PATH
            value: {{ printf "%s/%s" $mtlsPath $clientCertificateFileName }}
          - name: CLIENT_KEY_PATH
            value: {{ printf "%s/%s" $mtlsPath $clientPrivateKeyFileName }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
