{{- if .Values.installBroker }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "wiz-broker.name" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "wiz-broker.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "wiz-broker.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "wiz-broker.selectorLabels" . | nindent 8 }}
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "wiz-broker.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:  
          - secretRef:
              name: {{ .Values.secretName | default (printf "wiz-tunnel-client-%s-cfg" (include "wiz-broker.wizConnectorID" .))  }}

{{- if not .Values.secretName }}
---
apiVersion: v1
kind: Secret
metadata:
  name: wiz-tunnel-client-{{ include "wiz-broker.wizConnectorID" . }}-cfg
  namespace: {{ .Values.namespace }}
  {{- with .Values.wizConnector.secret.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
stringData:
  {{- include "wiz-broker.wizConnectorSecretData" . | nindent 2 }}
{{- end }}
{{- end }}
