apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "git-proxy.fullname" . }}
  labels:
    {{- include "git-proxy.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "git-proxy.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "git-proxy.selectorLabels" . | nindent 8 }}
        {{- with .Values.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.affinity }}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
      {{- end }}
      {{- if and .Values.storageService "blob" (not .Values.blob.azureCreds) }}
      {{/* since the main container is running in non-root we need to change the azure.json file permissions to allow
      us to read it */}}
      initContainers:
        - name: hostpath-copier
          image: "{{ .Values.hostpathCopier.image.repository }}:{{ .Values.hostpathCopier.image.tag }}"
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          command: ["/bin/sh", "-c"]
          args: ["cp /etc/kubernetes/azure.json /target/azure.json; chmod 444 /target/azure.json"]
          volumeMounts:
            - mountPath: /etc/kubernetes/
              readOnly: true
              name: azure-creds-hostpath
            - name: azure-creds
              mountPath: /target
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        fsGroup: 1000
        supplementalGroups:
          - 1000
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            privileged: false
            allowPrivilegeEscalation: false
          image: "{{ .Values.image.repository }}/{{ .Values.image.namePrefix}}-{{ required "storageService is required" .Values.storageService }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          {{- if eq .Values.storageService "s3" }}
          - name: AWS_REGION
            value: {{ required "s3.region is required" .Values.s3.region | quote }}
          {{- end }}
          args: [
            {{- if eq .Values.storageService "blob" }}
            "--resourceGroup", {{ required "blob.resourceGroupName is required" .Values.blob.resourceGroupName | quote }},
            "--storageAccount", {{ required "blob.storageAccountName is required" .Values.blob.storageAccountName | quote }},
            "--containerName", {{ required "blob.containerName is required" .Values.blob.containerName | quote }},
            {{- end }}
            {{- if eq .Values.storageService "gcs" }}
            "--bucketName", {{ required "gcs.bucketName is required" .Values.gcs.bucketName | quote }},
            {{- end }}
            {{- if eq .Values.storageService "s3" }}
            "--bucketName", {{ required "s3.bucketName is required" .Values.s3.bucketName | quote }},
            {{- end }}
            {{- if eq .Values.storageService "objectstorage" }}
            "--region", {{ required "objectstorage.region is required" .Values.objectstorage.region | quote }},
            "--namespaceName", {{ required "objectstorage.namespaceName is required" .Values.objectstorage.namespaceName | quote }},
            "--bucketName", {{ required "objectstorage.bucketName is required" .Values.objectstorage.bucketName | quote }},
            {{- end }}
            "--port", "{{ .Values.service.port }}",
          ]
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /tmp
              name: tmp-dir
            {{- if eq .Values.storageService "blob" }}
            - mountPath: /etc/kubernetes/
              name: azure-cred
              readOnly: true
            {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: tmp-dir
          emptyDir: {}
        {{- if eq .Values.storageService "blob" }}
          {{- if .Values.blob.azureCreds }}
          - name: azure-cred
            secret:
              secretName: azure-creds
          {{- else }}
          - name: azure-creds
            emptyDir:
              medium: Memory
          - name: azure-cred-hostpath
            hostPath:
              path: /etc/kubernetes/
              type: Directory
          {{- end }}
        {{- end }}
